# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
.pnpm-store/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# cache
.eslintcache
.astro-cache/
.astro-v6-cache/
.wrangler/

# environment variables
.env
.env.local
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# windsurf rules
.windsurfrules

# meta-info
meta-info.md

# docs
/docs
!/docs/
/docs/*
!/docs/blog-materials/
/docs/blog-materials/*
!/docs/blog-materials/astro-incremental-static-build/
!/docs/blog-materials/astro-incremental-static-build/**
!/docs/blog-materials/astro-view-transitions/
!/docs/blog-materials/astro-view-transitions/**

# blog
src/content/blog/_*
src/content/blog/**/_*
