---
import { heading } from '@/styles/unoVariants';

interface Props {
  title: string;
  className?: string;
  marginBottom?: 'sm' | 'md' | 'lg' | 'xl';
}

const { title, className = '', marginBottom = 'md' } = Astro.props;

// unoVariants
const classes = heading({ marginBottom, className });
---

<h2 class={classes}>{title}</h2>
