---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { BlogControls } from '../../components/Blog';
import HeroSection from '../../components/HeroSection.astro';
// import SectionHeading from '../../components/SectionHeading.astro';
import { getQiitaPosts } from '../../lib/api-clients/qiita';

const posts = await getCollection('blog');
const qiitaPosts = await getQiitaPosts('ngtnysk');

const allPosts = [
  ...posts.map((post) => ({
    title: post.data.title,
    url: `/blog/${post.slug}`,
    publishDate: post.data.publishDate,
    excerpt: post.data.description,
    thumbnail: post.data.image,
    isExternal: false as const,
    platform: 'blog' as const,
    tags: post.data.tags || [],
  })),
  ...qiitaPosts,
];
---

<Layout title="BLOG | u30deu30a4u30d6u30edu30b0">
  <HeroSection title="BLOG" isHome={false} />
  <div class="container-lg container-lg py-14">
    <BlogControls client:load posts={allPosts} />
  </div>
</Layout>
