---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { BlogControls } from '../../components/Blog';
import HeroSection from '../../components/HeroSection.astro';
import SectionHeading from '../../components/SectionHeading.astro';
import { getQiitaPosts } from '../../lib/api-clients/qiita';

const posts = await getCollection('blog');
const qiitaPosts = await getQiitaPosts('ngtnysk');

const allPosts = [
  ...posts.map((post) => ({
    title: post.data.title,
    url: `/blog/${post.slug}`,
    publishDate: post.data.publishDate,
    excerpt: post.data.description,
    thumbnail: post.data.image,
    isExternal: false,
    tags: post.data.tags || [],
  })),
  ...qiitaPosts,
];
---

<Layout title="BLOG | マイブログ">
  <HeroSection title="BLOG" />
  <div class="max-w-7xl mx-auto">
    <SectionHeading title="" className="text-4xl font-bold mb-8" />
    <BlogControls client:load posts={allPosts} />
  </div>
</Layout>
