---
import Layout from '@/shared/layouts/Layout.astro';
import HeroSection from '@/shared/components/hero/HeroSection.astro';
import SuspenseContactForm from '@/features/contact/components/SuspenseContactForm';
---

<Layout title="お問い合わせ | SAKUSPACE">
  <HeroSection title="CONTACT" isHome={false} />

  <div class="py-12">
    <div class="container-md">
      <div class="lg:px-8">
        <SuspenseContactForm client:only="react" />
      </div>
    </div>
  </div>
</Layout>
