---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/Hero/HeroSection.astro';
import SuspenseContactForm from '../components/Contact/SuspenseContactForm';
---

<Layout title="お問い合わせ | SAKUSPACE">
  <HeroSection title="CONTACT" isHome={false} />

  <div class="py-12">
    <div class="container-md">
      <div class="lg:px-8">
        <SuspenseContactForm client:only="react" />
      </div>
    </div>
  </div>
</Layout>
