---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ContactForm from '../components/Contact/ContactForm';
---

<Layout title="お問い合わせ | SAKUSPACE">
  <HeroSection title="CONTACT" isHome={false} />

  <div class="py-12">
    <div class="container-md">
      <div class="p-8">
        <p class="text-gray-800 dark:text-white mb-8 text-center">
          ご質問やお問い合わせがありましたら、以下のフォームからご連絡ください。<br />
          可能な限り早くご返信いたします。
        </p>
        <ContactForm client:load />
      </div>
    </div>
  </div>
</Layout>
