---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ContactForm from '../components/Contact/ContactForm';
---

<Layout title="お問い合わせ | SAKUSPACE">
  <HeroSection title="CONTACT" isHome={false} />

  <div class="py-12">
    <div class="container-md">
      <div class="p-8">
        <ContactForm client:load />
      </div>
    </div>
  </div>
</Layout>
