---
interface Props {
  showHero?: boolean;
  title?: string;
  isHome?: boolean;
}

const { showHero = true, title = 'SAKUSPACE', isHome = false } = Astro.props;
---

{
  showHero && (
    <div
      class:list={[
        'relative bg-white dark:bg-gray-900',
        isHome ? 'py-24 sm:py-50' : 'py-16 sm:py-20',
      ]}
      role="banner"
    >
      <div class="container-md container-base text-center">
        <h1 class="text-3xl sm:text-4xl font-bold tracking-[0.2em] text-gray-900 dark:text-white">
          {title}
        </h1>
      </div>
    </div>
  )
}

<!-- <style>
  .hero-section {
    background-color: bg-gray-50;
    background-size: cover;
    background-position: center;
  }
</style> -->
