---
interface Props {
  title: string;
  className?: string;
}

const { title, className = 'mb-8' } = Astro.props;
---

<div class={className}>
  <h2
    class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-4 pb-2 border-b border-gray-200 dark:border-gray-700"
  >
    {title}
  </h2>
  <div class="mt-3">
    <slot />
  </div>
</div>
